.slidewrap{

	.nf-field-element textarea {
	    height: 100px;
	}

	.nf-field-element input[type="button"]{
			@extend .btn;
			@extend .btn-danger;
			@extend .btn-block;
	}

	.nf-form-fields-required{
		font-size: floor((100% * $font-size-small / $font-size-base));
		margin-bottom: 6px;
	}

	.nf-error-msg{
		display: none;
	}

}


// Contact Page
.contact-page{
	.field-wrap input[type="button"]{
			@extend .btn;
			@extend .btn-danger;
			@extend .btn-block;
	}


	h3{
		font-weight: 700;
		font-size: 36px;
		text-transform: uppercase;
		margin-bottom: 24px;
	}

	.nf-form-fields-required{
		font-size: floor((100% * $font-size-small / $font-size-base));
		margin-bottom: 12px;
	}
}


// Header Tweaks

	.header-form-text {
		margin-top: 80px;
		p {
			font-size:18px
		}
	}

@include susy-breakpoint($screen-sm-min){
	.header-form-text {
		margin-top: 0px;
		p {
			font-size:14px
		}
	}
} 