// Big Slider on home page


.slider-content{
	position: absolute;
	top: 0;
	right: 0;
	height: 425px;
	background-color: rgba($primary-colour, 0.85);
	color: #fff;
	padding: 12px 12px 6px 12px;
	
	// @include myoutline(green);
	@include span(12) ;
	overflow: hidden;
	
	// small screen
	@include susy-breakpoint($screen-xs-min){
		@include span(12) ;
	}

	// small screen
	@include susy-breakpoint($screen-sm-min){
		@include span(6) ;
	}

	// medium screen
	@include susy-breakpoint($screen-md-min){
		@include span(5) ;
		margin-right: 7rem;
	}

	// Large screen
	@include susy-breakpoint($screen-lg-min){
		@include span(4) ;
		margin-right: 7rem;
	}

	h2{
		font-weight: 700;
		font-size: 36px;
		margin: 8px;

	}
} 
 

.slidewrap{
	position: relative;
	overflow: hidden;
}


// Home Page slider
.main-slider{
	height: auto;
	position: relative;
	.slider-text {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		color: #fff;
		left: 0;
		top: 0;
		max-width: 50%;
		padding-left: 7rem;
		h2 {
			font-size: 4rem;
			margin-bottom: 30px;
		}
		h3 {
			font-size: 3rem;
			margin-bottom: 30px;
			margin-top: 0
		}
		@media screen and (max-width: 768px){
			display: none;
			padding-left: 0;
		}
		.btn {
			display: inline;
			font-size: 1.5rem;
			max-width: 150px;
		}
	}
	.slick-prev {
		left: 25px;
		z-index: 999;
	}
	.slick-next {
		right: 25px;
		z-index: 999;
	}
	.slick-slide{
		// Big Slider on home page
		$slider-height: 425px;

		position: relative;
		height: 250px;
		display: block;
		
		// small screen
		@include breakpoint($screen-sm-min){
			height: $slider-height;
		}

		img{
			object-fit: cover;
			object-position: 50% 50%;
			height: 250px;
			min-width: 100%;
	
			// small screen
			@include breakpoint($screen-sm-min){
				height: $slider-height;
			}
		}

	}
}


// Service Highlights
.service-highlights-wrapper{
	position: relative;
	overflow: hidden;
	// background-color: $primary-colour;
	background: url(images/shutterstock_370043891.jpg) $primary-colour no-repeat center center fixed;
	background-size: cover;
	padding: 32px;

	.img-overlay{
		background-color: rgba($primary-colour, 0.75);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	h2{
		color: #fff;
		text-transform: uppercase;
		border-left: solid 8px red;
		padding: 12px;
		margin-bottom: 30px;
	}
}

.service-highlights-item{
	border: solid 1px rgba(#fff, 0.8);
	margin: 12px;
	text-align: center;
	padding: 25px 12px;
	min-height: 150px;
	color: #fff;
	max-height: 151px;
	overflow: hidden;

	&:hover, &focus{
		color: darken(#fff, 20%);
		border: solid 1px rgba(#fff, 0.5);
	}
}