.btn-alpha{

	$btn-alpha-bg: #fff;

	// Base Button
	@include button-variant($gray-base, $btn-alpha-bg, $gray-lighter);

	// Design
	@include gradient-vertical(#fff, $gray-lighter, 0%, 100%);
	padding: 2px 10px;
	@include breakpoint($screen-sm-min){padding: 15px 20px;}
	text-align: center;
	@include breakpoint(320px){ text-align: left; }

	span{display: inline-block;}
	
	// Icon
	.fa{ color: $primary-colour; }

	// layout
		display: block;
	    margin-bottom: 6px;
	    overflow: hidden;

	@include susy-breakpoint(320px){
		width: 46%;
		margin: 2%;
		float: left;
	}

	@include susy-breakpoint($screen-sm-min){
		display: inline-block;
		width: initial;
		margin: 15px 0;
		float: initial;
	}
}


.btn-bravo{
	// Base Button
	@include button-variant($gray-light, transparent, transparent);
	text-transform: uppercase;
	font-weight: 600;
	border-top: solid 1px $gray-lighter;
	padding: 25px 25px; 

	@include fa-sudo(false, f101);
}

// $fa-before: false, $fa-icon: f00c, $fa-distance: 0.3, $fa-color: inherit