// padding

// Padding Top
.pt-xs{ padding-top: $padding-base-vertical; }
.pt-sm{ padding-top: $padding-base-vertical * 2; }
.pt-md{ padding-top: $padding-base-vertical * 3; }
.pt-lg{ padding-top: $padding-base-vertical * 4; }

// Padding Bottom
.pb-xs{ padding-bottom: $padding-base-vertical; }
.pb-sm{ padding-bottom: $padding-base-vertical * 2; }
.pb-md{ padding-bottom: $padding-base-vertical * 3; }
.pb-lg{ padding-bottom: $padding-base-vertical * 4; }


// Margin Top
.mt-xs{ margin-top: $padding-base-vertical; }
.mt-sm{ margin-top: $padding-base-vertical * 2; }
.mt-md{ margin-top: $padding-base-vertical * 3; }
.mt-lg{ margin-top: $padding-base-vertical * 4; }

// Margin bottom
.mb-xs{ margin-bottom: $padding-base-vertical; }
.mb-sm{ margin-bottom: $padding-base-vertical * 2; }
.mb-md{ margin-bottom: $padding-base-vertical * 3; }
.mb-lg{ margin-bottom: $padding-base-vertical * 4; }