@import "layouts/header";
@import "layouts/footer";
@import "layouts/navigation";
@import "layouts/gallery";


.site-content{
	@include clearfix();
	@include container();
	// @include myoutline(blue);
	margin-bottom: gutter();
}

	// blog pages to include widget area
	.group-blog, .content-area{
		// @include myoutline(green);
		@include span(12) ;
		overflow: hidden;
		
		// small screen
		@include susy-breakpoint($screen-xs-min){
			@include span(12) ;
		}

		// small screen
		@include susy-breakpoint($screen-sm-min){
			@include span(7) ;
		}

		// medium screen
		@include susy-breakpoint($screen-md-min){
			@include span(8) ;
		}

		// Large screen
		@include susy-breakpoint($screen-lg-min){
			@include span(9) ;
		}
	}

	.widget-area{
		// @include myoutline(green);
		@include span(12) ;
		// padding-left: 15px;
		// padding-right: 15px;

		// small screen
		@include susy-breakpoint($screen-xs-min){
			@include span(12) ;
			// padding-left: 0;
			// padding-right: 0;
		}

		// small screen
		@include susy-breakpoint($screen-sm-min){
			@include span(5) ;
			// padding-left: 0;
			// padding-right: 0;
		}

		// medium screen
		@include susy-breakpoint($screen-md-min){
			@include span(4) ;
		}

		// Large screen
		@include susy-breakpoint($screen-lg-min){
			@include span(3) ;
		}
	}

	// regular page full width
	.content-area, .lgbreadcrumb{
		@include span(12) ;
		// @include myoutline(green);
	}

.gallery-grid {
	display: flex;
	flex-wrap: wrap;
	.gallery-caption {
		padding-top: 1rem;
	}
	.grid-item {
		margin-bottom: 1.5rem;
		img {
			height: 175px;
			width: 100%;
			object-fit: cover;
		}
	}
}

//contact page

.contact-wrapper {
	margin-bottom: 1.5rem;
	display:flex;
	flex-wrap: wrap;
	& > div {
		float: none;
	}
}

.contact-page.contact-page-form {
	margin-bottom: 0px;
	height: 100%;
}

.contact-office-image {
	img {
		width: 100%;
	}
}