.type-page{
//   @include myoutline(red); 
//   padding: 0 (gutter() * 3);
}


.site-main{
    @include breakpoint(max-width $screen-sm-min){
        padding-left: 15px;
        padding-right: 15px;      
    }
}

.entry-content > p:first-of-type {
    // @extend .lead;
}


.more-link{
	@extend .btn, .btn-default;
	display: block;
	width: 91%;
	@include breakpoint($screen-sm-min){ width: 33%; }
	margin: gutter() auto;
}



.well-alpha{
	color: #fff;
	background-color: $alt1-colour;
	margin-bottom: 24px;
	border-top: solid 4px $alt2-colour;
	padding-top: 12px;
	padding-bottom: 12px;
}

.vendorlist li a img{ max-width: 100%; }

.vendorlist{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	list-style-type: none;

	li{
		// Mobile
		flex: 1 0 50%;
		margin-bottom: 12px;
		padding: 4px 28px;
		align-self: center;

		// bigger phone
		@include breakpoint($screen-xs-min){ flex: 1 0 30%; }

		// Tablet
		@include breakpoint($screen-md-min){ flex: 1 0 16%; }
	}
}

.myflexcustom{
	overflow: hidden;
    position: relative;
	@include breakpoint($screen-lg-min){ min-height: 500px; }

    article{
		// small screen
		@include susy-breakpoint($screen-sm-min){ @include span(8) ; }

		// Large screen
		@include susy-breakpoint($screen-lg-min){ @include span(8) ; }
    }

    .myimage{
    	// @include myoutline(green);
		position: absolute;
		bottom: -230px;
		@include breakpoint($screen-md-min){
			bottom: -150px;
		}
		right: 0;
		min-height: 100%;

		// small screen
		@include susy-breakpoint($screen-sm-min){ @include span(4) ; }

		// Large screen
		@include susy-breakpoint($screen-lg-min){ @include span(4) ; }
    }

    img{
    	// min-height: 650px;
    }
}


.myoffsetimage {
    max-height: 275px;
    overflow: hidden;
}