.hms-testimonial-container{
	margin-bottom: 12px;
	margin-top: 12px;
	
	@extend .well;


	.author{
		// @include myoutline(red);
		br{display: none;} 
		margin-bottom: 6px;
	}

	.date{
		display: none;
	}

	.testimonial{
		margin-top: 12px;

	}

	.url{  

	}
}


.widget.widget_hms_testimonial_rotator{
	margin-bottom: 0;
	border-width: 0;
	box-shadow: none;
	min-height: 275px;
	
	.hms-testimonial-container{
		box-shadow: none;
		background-color: transparent;
		border-width: 0;
	}


	.author{

		h2{
			color: $primary-colour;
			font-weight: 600;
			text-transform: uppercase;
		}
	}

	.date{
		display: none; 
	}  

	.controls{
		// @include myoutline(red);

		.prev{
			@extend .btn;
			@extend .btn-primary;
		}

		.next{
			@extend .btn;
			@extend .btn-primary;
			float: right;
		}

	}

}  