.gallery{
    @include clearfix();
    margin-left: -(gutter());
    margin-right: -(gutter());

	.gallery-icon a{
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		border: solid 1px $gray-light;
		height: 150px;

		img{
			flex: 0 1 auto;
			min-width: 100%;
			min-height: 100%
		} 

		// little bit of U/X when clicking image.
		&:hover, &:focus{ opacity: 0.5; }
	}
} 

// 1 Column
.gallery-columns-1 {

    .gallery-item{
        margin-bottom: gutter();

		.gallery-icon a{ 
			height: initial;
			max-height: 300px;
		}

    }
}

// 2 Column
.gallery-columns-2 {

    .gallery-item{
        @include gallery(6 of 12);
        margin-bottom: gutter();
    }
}

// 3 Column
.gallery-columns-3 {

    .gallery-item{
        @include gallery(6 of 12);
        margin-bottom: gutter();
    
		// small screen
		@include susy-breakpoint($screen-sm-min){ @include gallery(4 of 12) ; }
		    
    }
}

// 4 Column
.gallery-columns-4 {

	
    .gallery-item{
		// @include myoutline(red);
		overflow: hidden;

        @include gallery(6 of 12);
        margin-bottom: gutter();
    
		// small screen
		@include susy-breakpoint($screen-sm-min){ @include gallery(3 of 12) ; }
		    
    }
}

// 5 Column
.gallery-columns-5 {

    .gallery-item{
        @include gallery(6 of 12);
        margin-bottom: gutter();
    
		// small screen
		@include susy-breakpoint($screen-sm-min){ @include gallery(4 of 12) ; }

		// medium screen
		@include susy-breakpoint($screen-md-min){ @include gallery(3 of 12) ; }

		// Large screen
		@include susy-breakpoint($screen-lg-min){ @include gallery(5 of 25) ; }
		    
    }
}

// 6 Column
.gallery-columns-6 {

    .gallery-item{
        @include gallery(6 of 12);
        margin-bottom: gutter();
    
		// small screen
		@include susy-breakpoint($screen-sm-min){ @include gallery(4 of 12) ; }

		// medium screen
		@include susy-breakpoint($screen-md-min){ @include gallery(3 of 12) ; }

		// Large screen
		@include susy-breakpoint($screen-lg-min){ @include gallery(6 of 36) ; }

		// Not much room for text, lets hide it.
		// .gallery-caption{ @extend .sr-only;}

		// .gallery-icon a{ 
		
		// 	height: initial;
		// 	max-height: 150px;

		// 	@include breakpoint($screen-lg-min){ max-height: 75px; }
		// }
		    
    }
}

// 7 Column
.gallery-columns-7 {

    .gallery-item{
        @include gallery(6 of 12);
        margin-bottom: gutter();
    
		// small screen
		@include susy-breakpoint($screen-sm-min){ @include gallery(4 of 12) ; }

		// medium screen
		@include susy-breakpoint($screen-md-min){ @include gallery(3 of 12) ; }

		// Large screen
		@include susy-breakpoint($screen-lg-min){ @include gallery(7 of 49) ; }

		// Not much room for text, lets hide it.
		.gallery-caption{ @extend .sr-only;}

		.gallery-icon a{ 
		
			height: initial;
			max-height: 150px;

			@include breakpoint($screen-lg-min){ max-height: 75px; }
		}
		    
    }
}

// 8 Column
.gallery-columns-8 {

    .gallery-item{
        @include gallery(6 of 12);
        margin-bottom: gutter();
    
		// small screen
		@include susy-breakpoint($screen-sm-min){ @include gallery(4 of 12) ; }

		// medium screen
		@include susy-breakpoint($screen-md-min){ @include gallery(3 of 12) ; }

		// Large screen
		@include susy-breakpoint($screen-lg-min){ @include gallery(8 of 64) ; }

		// Not much room for text, lets hide it.
		.gallery-caption{ @extend .sr-only;}

		.gallery-icon a{ 
		
			height: initial;
			max-height: 150px;

			@include breakpoint($screen-lg-min){ max-height: 75px; }
		}

		    
    }
}

// 9 Column
.gallery-columns-9 {

    .gallery-item{
        @include gallery(6 of 12);
        margin-bottom: gutter();
    
		// small screen
		@include susy-breakpoint($screen-sm-min){ @include gallery(4 of 12) ; }

		// medium screen
		@include susy-breakpoint($screen-md-min){ @include gallery(3 of 12) ; }

		// Large screen
		@include susy-breakpoint($screen-lg-min){ @include gallery(4 of 36) ; }

		// Not much room for text, lets hide it.
		.gallery-caption{ @extend .sr-only;}

		.gallery-icon a{ 
		
			height: initial;
			max-height: 150px;

			@include breakpoint($screen-lg-min){ max-height: 75px; }
		}

		    
    }
}