.site-header{
	// // Flex stuff
	// display: flex;
	// flex-direction: row;
	// justify-content: space-around;
 //    flex-wrap: nowrap;
 //    align-items: center;
    
 //    // Visual spacing
	// padding-left: gutter();
	// padding-right: gutter();
	// margin-bottom: gutter();
	
	
} 

.site-branding{
	// // @include myoutline(red);
	// flex: 1 0 100%;
		
	// // small screen
	// @include breakpoint($screen-sm-min){
	// 	flex: 1 0 auto;
	// }	
		
}

.navbar{
	// @include myoutline(yellow);
	// flex: 1 0 auto;
}