// .navbar-header{
//     display: flex;
//     flex-direction: row-reverse;
    
//     .flex-custom {
//         flex: 1;
//     }
// }


.nav-cont{
    margin-left: initial;
    margin-right: initial;	

    .ubermenu-content-block{
    		// @include myoutline(red);
    		padding-left: 0;
    		// min-height: 480px;

    	.widget{ 
    		// @include myoutline(red);
	    	// padding: 8px;
    		// min-height: 480px;

    	}

    	.widget_text{
    		// @include myoutline(red);
    		// padding-top: 35px;
			// .ubermenu-widgettitle{
			// 	margin: 0 0 8px 0;
			// 	padding: 0;
			// }

			a{
				@extend .btn;
				@extend .btn-primary;
				float: right;
				margin-top: 12px;
			}

    	} 

		.widget_media_image{

			// .ubermenu-widgettitle{
			// 	margin: 0 0 8px 0;
			// 	padding: 0;
			// }

			img{
				@include img-responsive();
				@extend .img-thumbnail;
				width:100%;
			}
		}

    }

	// Mobile Stuff
    .ubermenu-responsive-toggle{
		border-width:  0;
		box-shadow: none;
		// background: transparent;
		// border-bottom: solid 1px rgba(#fff,  0.2);
	}


	// .ubermenu-target{
	// 	border-left-width: 0;
	// }

}

