.type-post {
    // margin-bottom: (gutter() * 3);

    .entry-header{
        margin-bottom: $padding-large-horizontal;

        .entry-title{
            text-transform: uppercase;
            margin-bottom: 0;
            a{ 
                // color: $text-color; 
            }
        }
        
        .entry-meta{
            @extend .small;
        }
        
     }

    .entry-content{
    }
    
    .entry-footer{
        @extend .small;
        border-bottom: solid 1px $gray-light;
        padding-bottom: $padding-large-horizontal;

        .cat-links{ padding: 0 gutter() 0 0; }

    	.tags-links{ @extend .cat-links; }

    	.comments-link{ @extend .cat-links; }
      }
}


.archive, .search {

    .page-header{ 

        margin-top: 0; 

        h1{ 
            margin-top: 0;
            text-transform: uppercase;
        }
    }

}

.wp-caption-text{ @extend .small; }


// Image Aligment in Post or pages layout

figure.wp-caption{

    // Default Stuff
    max-width: 100%;  
    margin-bottom: gutter();
    overflow: hidden;
    position: relative;

    //Default Image stuff 
    img{ @include img-responsive(); }

    // Right alignment 
    &.alignright{ 
        float: right; 
        margin-left: gutter();  
    }

    // Left Alignment
    &.alignleft{ 
        float: left;
        margin-right: gutter(); 
    }

    &.aligncenter{
        @include center-block();
        clear: both;
    }

    // Thumbnail - 150 x 150
    &[style="width: 150px"]{
        @include breakpoint(max-width $screen-xs-min){ max-width: 130px; }    // lets play nice on smaller phones. Gives a bit of space for wrapping.
    }

    // Medium - 300
    &[style="width: 300px"]{
        // outline-color: greenyellow;  
    }

    // Large - 640
    &[style="width: 640px"]{
         
    }

}


.size-thumbnail.aligncenter{
    @include center-block();
    clear: both;
}


.post{
    img{ @include img-responsive(); }
}