// Comment Area
.comments-area{
    @include  clearfix();
    padding: $padding-base-vertical;
    // border: solid 1px $gray;

    // Comment Form
    .comment-form{
        @extend .form-horizontal;


        & > p {
            @extend .form-group;
            margin-left: 0;
            margin-right: 0;

            label{
                @include span(12);
                @extend .control-label;

                // small screen
                @include susy-breakpoint($screen-sm-min){
                    @include span(2) ;
                }
             }

             textarea{
                 @include span(12);


                 // small screen
                 @include susy-breakpoint($screen-sm-min){
                     @include span(8) ;
                 }
             }

             input[type="text"],
             input[type="email"],
             input[type="url"] {
                 @include span(12);

                 // small screen
                 @include susy-breakpoint($screen-sm-min){
                     @include span(8) ;
                 }
             }
        }

        .comment-notes{
            @include span(12);
        }

        // Button
        .form-submit{
            @include span(10);
            text-align: right;
        }
    }

    //Shame. I'll figure this out later
    .comment-reply-title{
        @include span(12);
    }

    .comment-list{
        @include list-unstyled;

        .children{ @include list-unstyled; }

        .comment{
            min-height: 20px;
            padding: 19px;
            margin-bottom: 20px;
            background-color: #f5f5f5;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

    		&-meta{
    			margin-bottom: 4px;
    			font-size: floor((100% * $font-size-small / $font-size-base));
    		}

    		&-content{ margin-bottom: 4px; }

    		.reply{
    			margin-bottom: 4px;
    			font-size: floor((100% * $font-size-small / $font-size-base));
    		}

    	}
    }

}
