.cta{

}

.cta-alpha{
	position: relative;
	display: block;
	margin-bottom: 48px;

	$cta-alph-h1: (
	  default : 21px,
	  small   : 21px,
	  medium  : 36px,
	  large   : 36px
	);

	.cta-alpha-body{

		@include breakpoint($screen-sm-min){
			min-height: 225px;

			.btn{
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		@include breakpoint($screen-md-min){
			min-height: 190px;
		}	

		@include breakpoint($screen-lg-min){
			min-height: 140px;
		}
	}
   

	.cta-img{
        // Mobile First view
        display: block;
        height: 300px;
        overflow: hidden;
        position: relative;
        width: 100%;


		img{
			@include xy-center();
			width: auto;
			overflow: hidden;
			min-height: 100%;
			@include breakpoint(640px){
				width: 100%;
				min-height: initial;
			}

		}
	}

	> a:hover img, a:hover .footer {
		opacity: 0.8;
	}

	.footer{
		padding: 20px 12px;
		background-color: $alt1-colour;
		border-top: solid 5px $alt2-colour;

		.h1{
			font-weight: 700;
			color: #fff;
			@include font-size($cta-alph-h1);
		}
	}
}