// Nav Pagination
.post-navigation{
	@include container();
	margin-bottom: gutter();
	padding-top: gutter();
	padding-bottom: gutter();

	.nav-links{

		// Previous button
		.nav-previous{
			@include span(6 no-gutters);
			a{
				@extend .btn;
				@extend .btn-default;
				@include fa-sudo(true, f104);
				&:hover{ text-decoration: none; }
			}
		}

		// Next button
		.nav-next{
			@include span(6 no-gutters);
			text-align: right;
			float: right;
			a{
				@extend .btn;
				@extend .btn-default;
				@include fa-sudo(false, f105);
				&:hover{ text-decoration: none; }
			}
		}
	}

}


// Page pagination.
.page-links{
	text-align: center;  
	a > span { @extend .btn, .btn-default;	}
	margin-bottom: gutter();
}


// Primary Nav

.navbar{
	box-shadow: 2px 2px 10px rgba(#000, 0.8);
	z-index: 1000;
}

#menu-primary{
	.menu-item > a{
		border-left: solid 1px transparent;

		@include breakpoint($screen-sm-min){
			border-left: solid 1px #fff;
		}
	}

}

.navbar-toggle{ color: #fff; }

.navbar-brand{
	// max-width: 40%;
	width: 150px;
	padding-top: 4px;

	img{

	}
}


// Footer & Footer-alt
.footer-menu{
	.menu-item a{
		font-size: floor((100% * $font-size-small / $font-size-base));
		display: block;
		padding: 4px 4px;
		color: $gray;
		&:hover, &:focus{
			color: $gray;
			background-color: darken(#fff, 2%);
		}
	}

	.menu-title a{
		font-size: 16px;
		font-weight: 600;
		color: $primary-colour;
		padding: 12px 12px 12px 0;
		border-bottom: solid 1px $gray-lighter;
		margin-bottom: 4px;
	    cursor: default;
		&:hover, &:focus{
			color: $primary-colour;
			background-color: #fff;
		}
	}
}

.menu-title-noanchor{
    font-size: 16px;
    font-weight: 600;
    color: #0e3a99;
    padding: 12px 12px 12px 0;
    border-bottom: solid 1px #eeeeee;
    margin-bottom: 12px;
    cursor: default;
    margin-top: 5px;
}



.d-none {
	display: none !important;
}

.md-down-inline {
	@media screen and (max-width: 768px) {
		display: inline-block !important;
	}
}