.site-logo, .custom-logo-link{

    // Defaults
    height: 46px;
    width: 150px;
    background-color: rgba(#FFF, 0.5);
    border-radius: 6px;
    display: block;

    // small screen
    @include breakpoint($screen-sm-min){
        height: 100px;
        width: 210px;
        background-color: initial;
    }

    // medium screen
    @include breakpoint($screen-md-min){
        width: 300px; 
    }



}


.site-logo-sm, .site-footer .custom-logo-link{
    // Defaults
    height: 46px;
    width: 125px;
    background-color: rgba(#FFF, 0.5);
    border-radius: 6px;
}


.site-branding{
    @include breakpoint(max-width 768px){
        text-align: center;
    }
}

.gallery-item{
    img{
        width:100%;
        height:auto;
    }
}