.utility-bar{
	border-bottom: solid 1px $gray-lighter;
	
	.nav{

		a{ 
			border-left: solid 1px $gray-lighter;
			border-right: solid 1px $gray-lighter;
			border-radius: 0;
		    padding: 6px 15px;
		}

	}


	.nav-pills > li + li {
	    margin-left: -1px; 
	}


	.utility-bar-tagline a{
		border: solid 0px $gray-lighter;
		padding-left: 0;
		// cursor: none;
	}
}