// Default
.widget{
	border: solid 1px $gray;
	margin-bottom: gutter() * 4;
	background-color: #FFF;
	box-shadow: 3px 3px 8px lighten(#000, 75%);

	@include breakpoint(max-width $screen-sm-min){ 
		margin-left: 15px;
		margin-right: 15px;
	}

	&-title{
		background-color: #000;
		color: #fff;
		margin: 0;
		padding: 12px;
		font-size: 19px;
	}

	ul{
		margin: 0;
		padding: 12px;
		list-style-type: none;
	}
}

// Search
.widget_search{
	border-color: transparent;
	box-shadow: none;

	//Layout
	.search-form{
		display: flex;
	}

	.search-form > label{
		margin: 0;
		flex: 0 1 90%;
	}

	.search-form > .search-submit{
		margin: 0;
		flex: 0 1 30%;
	}


	// Styling
	.search-field{
	    border-radius: 4px 0 0 4px;
		min-height: 33px;
		border-right-width: 0;
	}

	.search-submit{
		border-radius: 0 4px 4px 0;
		background: #000;
		border-color: $gray-dark;
		color: darken(#fff, 5%);

		&:hover, &:focus{
			background: lighten(#000, 10%);
			color: #fff;
		}
	}
}


// Custom Menu
.widget_nav_menu{
	.menu{
		padding-left: 12px;
	}
}

// Calendar
.widget_calendar{

	.calendar_wrap{
		padding-left: 12px;
		padding-right: 12px;
	}

	table{
		@extend .table;
		@extend .table-condensed;

		#next{text-align: right;}
	}
}

// Tags
.widget_tag_cloud{
	.tagcloud{
		padding: 12px;
	}

	a{
		@extend .label;
		@extend .label-primary;
		display: inline-block;
		margin-bottom: 4px;
		// padding: 8px 12px;
	}
}
